<!DOCTYPE html>
<html>
<head>
    <title>Affichage utilisateur</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style2.css">
    <link rel="icon" href="/static/css/faviconhb.png" type="image/x-icon">
</head>
<body>
    <div class="login-container">
        <h2>Affichage de l'utilisateur {{.CSessions.Pseudo}}</h2>  
        <div>Cette session expirera dans {{.CSessions.MaxAge}} secondes</div> 
        <div>SToken: {{.SToken}} </div> 
        
        <form action="/Index" method="post">
            <button id="subbtn" type="submit" class="bouton2">Valider</button>
        </form>
    </div>
</body>
</html>