<!DOCTYPE html>
<html>
<head>
    <title>Create User</title>
    <link rel="stylesheet" type="text/css" href="static/css/style2.css">
    <link rel="icon" href="static/css/faviconhb.png" type="image/x-icon">
</head>
<body>
    <div class="login-container">
        <h2>Création d'un nouvel utilisateur</h2>  
        <div>Pseudo: {{.Pseudo}} </div> 
        <div>Email: {{.Email}} </div> 
        <div>Password: {{.Password}} </div>
        <div>Nom: {{.Firstname}} </div>
        <div>Prénom: {{.Lastname}} </div>
        <form action="/" method="post">
            <button id="subbtn" type="submit" class="bouton2">Valider</button>
        </form>
    </div>
</body>
</html>