<!DOCTYPE html>
<html>
<head>
    <title>Index Page</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style2.css">
    <link rel="icon" href="/static/css/faviconhb.png" type="image/x-icon">
</head>
<header>
    <h1 class="entete" >Gestion des utilisateurs</h1>
    <img src="/static/css/utilisateurs2.png">
    <time class="datesite">{{.Date_jour}}</time>
  </header>
<body>
    <div class="login-container">
        <h2>Page home</h2>
        <form action="/Deconnexion/{{.CSessions.Pseudo}}" method="post">
            <div>Bonjour {{.CSessions.Pseudo}} vous êtes connecté !</div>
            <div>La session exipirera le : {{.Date_Expire}} !</div>
            <button id="subbtn" type="submit" class="bouton2">Deconnexion</button>
        </form>
    </div>
    <label for="story">Voici le cookie:</label>
    <div class="CookieHolder">
        <div class="Cookie">
            {{.SToken}}
        </div>
    </div>
</body>
</html>