{{define "index"}}
<!DOCTYPE html>
<html>
  <head>
    <title>Index Page</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style2.css" />
    <link rel="icon" href="/static/css/faviconhb.png" type="image/x-icon" />
  </head>
  <header>
    <h1 class="entete">Bonjour {{.CSessions.Username}}</h1>
    <img src="/static/css/utilisateurs2.png" />
    <time class="datesite">{{.Date_jour}}</time>
  </header>
  <body>
    <div class="login-container">
      <h2>Page privée Index</h2>
      <form action="/Logout" method="get">
        <div>Bonjour {{.CSessions.Username}} vous êtes connecté !</div>
        <div>La session expirera dans : {{.Date_Expire}} secondes !</div>
        <button id="subbtn" type="submit" class="bouton2">Deconnexion</button>
      </form>
      <label for="story">Voici le token:</label>
      <div class="CookieHolder">
        <div class="token">{{.SToken}}</div>
      </div>
    </div>
    <form action="/AfficheUserInfo" method="get">
      <button id="subbtn" type="submit" class="bouton3">Profil</button>
    </form>
    <div class="login-container">Contenu du site partie privée</div>
  </body>
</html>
{{end}}
